@import "tailwindcss/preflight";
@import "tailwindcss";

@theme {



  --color-Babu: #00A699;
    --color-primary: #FC642D;
    --color-Rausch: #FF5A5F;
    --color-Arches: #FC642D;
    --color-MainFontColor: #484848;
    --color-SubFontColor: #767676;
    --color-bg-primary: #F5F5F5;

    --background-color: 0 0% 100%;
    --foreground: 0 0% 28%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 28%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 28%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 28%;
    --radius: 24px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
